* {
  font-family: "inter";
  scroll-behavior: smooth;
  border-radius: 0;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

header {
  display: flex;
  width: 100%;
  z-index: 999;
}

#mark {
  width: 200px;
  object-fit: contain;
  flex: 0 0 200px;
}

nav > ul {
  margin: 0;
}

nav > ul li {
  display: inline;
  margin: 0 16px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.container-header {
  padding: 0px 48px;
}

.navbar {
  margin-left: 32px;
}

.navbar-toggler {
  background-color: #fff;
  border: none !important;
  padding: 4px;
  box-shadow: none !important;
}

.navbar-collapse.show {
  background-color: #fff;
  border-radius: 10px;
  padding: 6px 12px;
}
.navbar-collapse.show .nav-link {
  color: #000 !important;
  font-size: 14px;
  font-weight: 700;
}

.home {
  background-image: url("../img/bgMain.png");
  height: 75vh;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .home {
    background-position: inherit;
  }
}
.home .container-home {
  position: absolute;
  bottom: 0;
  padding: 0px 24px;
  width: 100%;
  padding-bottom: 24px;
  padding-top: 16px;
  background: linear-gradient(to bottom, rgba(2, 148, 39, 0) 0%, rgba(2, 148, 39, 0.5) 100%);
}
@media (min-width: 768px) {
  .home .container-home {
    padding: 0px 48px;
    padding-bottom: 24px;
    padding-top: 16px;
  }
}
.home .container-home h1 {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
}
@media (min-width: 768px) {
  .home .container-home h1 {
    font-size: 40px;
  }
}
.home .container-home p {
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5rem;
}
@media (min-width: 768px) {
  .home .container-home .content-info_home {
    width: 50%;
  }
}

.service-information {
  padding: 30px 0px;
}
.service-title {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .service-title {
    text-align: start;
  }
}
.service-content_describe {
  max-width: 100%;
  margin-top: 24px;
}
@media (min-width: 768px) {
  .service-content_describe {
    max-width: 45%;
    margin-top: 0;
  }
}
.service-content-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .service-content-title {
    width: 50%;
    display: block;
  }
}
.service-describe {
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.service-available {
  padding: 40px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2941176471);
}
.service-available-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-available_content {
  max-width: 100%;
}
@media (min-width: 768px) {
  .service-available_content {
    max-width: 60%;
  }
}
.service-available_title {
  font-size: 30px;
  padding-bottom: 8px;
}
.service-available_describe {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.service-available:hover {
  background-image: url("../img/imgHover.png");
  background-size: cover;
}

.team {
  padding: 40px 0px;
}
.team-title {
  font-size: 40px;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
.team-title_low {
  font-size: 30px;
  margin: 0 auto;
}
.team-title strong {
  position: relative;
}
.team-title strong::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 3px;
  background-color: orange;
  transform-origin: left;
  border-radius: 10px;
}
.team-card {
  background-color: rgba(21, 156, 127, 0.1019607843);
  width: 300px;
  height: 360px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.team-card_container {
  margin-top: 72px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .team-card_container {
    flex-direction: row;
  }
}
.team-card img {
  height: 420px;
  transform: translateY(-60px);
}
.team-card_content {
  margin: 0px 48px;
  align-items: center;
}
.team-name {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-top: 16px;
}
.team-profission {
  font-size: 18px;
}

.close {
  border-radius: 100px;
  background-color: #000;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}
.close span {
  line-height: 0;
  color: #fff;
}

.contact {
  background-color: #159C7E;
  padding-top: 40px;
}
.contact h1 {
  color: #fff;
  font-size: 75px;
  font-weight: 900;
}
.contact strong {
  color: #000;
  font-weight: 900;
}
.contact .forms {
  width: 100%;
  padding: 0px 32px;
  display: flex;
  align-items: end;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .contact .forms {
    width: 60%;
  }
}
.contact .forms label {
  color: #fff;
  font-size: 16px;
  padding-bottom: 6px;
  font-weight: 350;
}
.contact .forms input, .contact .forms textarea {
  background-color: #159C7E;
  appearance: none;
  border: none;
  box-shadow: none;
}
.contact .forms input {
  border-bottom: 1px solid #fff;
}
.contact .forms textarea {
  border: 1px solid #fff;
  border-radius: 10px;
  resize: none;
  height: 170px;
}
.contact .forms input:focus {
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
}
.contact .forms textarea:focus {
  border: none;
  border: 1px solid #fff;
  outline: none;
}
.contact .socialMedia {
  border-top: 1px solid #fff;
  padding: 10px 0px;
}

.button-service {
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  padding: 4px 16px;
  height: 40px;
  max-width: 160px;
  border: none;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.button-service-forms {
  justify-content: center;
  margin-top: 16px;
  min-width: 160px;
  max-width: 190px;
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .button-service-forms {
    margin-bottom: 0;
  }
}
.button-service-forms_submit {
  max-width: 160px;
}
.button-service .text-button {
  font-weight: 450;
  font-size: 16px;
}

@media (min-width: 768px) {
  .modal {
    top: -50%;
    transform: translateY(75%);
  }
}
.modal-dialog {
  max-width: 900px;
  margin: 0 auto;
}
.modal-header {
  border: none;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 24px;
}
.modal-content {
  background-color: #D9D9D9 !important;
}
.modal-name {
  font-weight: 700;
  color: #000;
  font-size: 20px;
  padding-bottom: 16px;
}
.modal-description {
  text-align: center;
}
.modal-information {
  width: 100%;
  margin-top: 32px;
}
@media (min-width: 768px) {
  .modal-information {
    width: 60%;
    margin-top: 0;
  }
}
.modal-body {
  padding-left: 24px;
  padding-right: 24px;
}

/*# sourceMappingURL=style.css.map */
